apiVersion: v1
kind: ConfigMap
metadata:
  name: app
data:
  apiPort: "8080"

  dbHost: postgres-headless.default.svc
  dbPort: "5432"
  dbName: app
  dbSSLMode: disable

  rabbitmqHost: rabbitmq-headless.default.svc
  rabbitmqPort: "5672"

  redisHost: redis.default.svc
  redisPort: "6379"
