# 1. Service Headless (necessário para o StatefulSet)
apiVersion: v1
kind: Service
metadata:
  name: rabbitmq-headless
spec:
  clusterIP: None # Isso o torna "headless"
  selector:
    app: rabbitmq
  ports:
    - port: 5672
      name: amqp
---
# 2. Service para expor a interface de gerenciamento
apiVersion: v1
kind: Service
metadata:
  name: rabbitmq-management
spec:
  type: ClusterIP
  selector:
    app: rabbitmq
  ports:
    - port: 15672 # Porta interna do Service
      targetPort: 15672 # Porta do contêiner (http-mgmt)
      protocol: TCP
      name: http-mgmt
      # nodePort: 31000 # Opcional: fixe uma porta (ex: 31000). Se omitido, o K8s escolhe uma.
